.hr-bold{ border-top: 3px solid black;}
.rektab { font-size: 11px; font-style: italic; font-weight: bold;}
.w100 { min-width: 150px; border: 1px solid #e6e6e6; text-align: center; }
.artikel{ resize:none; }
article{
    border: 1px dotted lightgray; border-radius: 5px;
    padding: 5px 10px; margin-bottom: 10px;
}

.page-title { background-color: darkblue; color: rgb(255, 255, 162);
    margin-bottom: 25px; padding: 0;
}
.tb-header{
    background-image: url('../img/tb-header.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90px;
    padding: 15px;
}

#pageTitle { 
    font-weight: bold;
}

.page-title > div.col-lg-12 { padding: 10px 15px; margin: 0;}
.page-title > div.col-lg-12 > h3 {
    padding-top: 5px; padding:0;
}
/* Login Page */

#login-box-wrapper{
    display: block; position: absolute; width: 320px; height: 450px;
    border: 1px solid #d9deaa;
    border-radius: 10px;
    top: 50%; margin-top: -225px; left:50%; margin-left: -160px;
    /* background-image: url('../img/ppPaud-login.png'),linear-gradient(#FFFFFF,#bebebe); */
    background-repeat: no-repeat;
    background-attachment: local;
}

#login-box-wrapper > img{
    width: 100%;
    opacity: 0.35;
    position: top;
    bottom: 0; left: 0;
}

#login-box-header{
    z-index:1;
    position: absolute;
    top: 0; left: 0;
    background-color: rgba(250, 250, 209, 0);
    width: 100%; padding-top: 90px;
}

#login-box-header > h3,
#login-box-header > h5 {
    font-weight: bold; text-align: center; margin:0;
    color: rgb(0, 255, 98);
    text-shadow: 2px 2px 0 rgb(63, 63, 63);
}

#login-form{
    padding:15px; margin-top: 40px;
}

/* Tutor */
.list-bulet{
    background-color: navy; color: white; 
    padding: 5px; border-radius: 5px; width: 150px; 
    text-align: center;
}

.tbtableabel { display: inline-block; width: 150px; font-weight: bold;}

@media screen and ( max-width: 720px ){
    #tbtable > tbody > tr > td { display: block; padding:0;}
    .list-bulet{ margin-bottom: 5px;}
    #pageTitle{ font-size: 14px; text-align: center; padding: 15px 0px;}

    #p2welcome {
        background-size:auto 100%;
    }

    #sourceLinks > ul.list-inline { padding: 0px; margin-top: 0;}
    #sourceLinks > ul.list-inline > li.list-inline-item { display: block; width: 100%;}
    #sourceLinks > ul.list-inline > li.list-inline-item > a { padding: 0px; margin: 0;}
    #login-box-wrapper {
        top: 65%;
    }
}